/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/dataSources/d1c8ea0a-7939-4eb6-934e-ca10eb835a98.xml
.idea/dataSources/d1c8ea0a-7939-4eb6-934e-ca10eb835a98.xml
.idea/dataSources/d1c8ea0a-7939-4eb6-934e-ca10eb835a98.xml
/.idea/dataSources/d1c8ea0a-7939-4eb6-934e-ca10eb835a98/entities/entities.dat_i.len
/.idea/dataSources/d1c8ea0a-7939-4eb6-934e-ca10eb835a98/entities/entities.dat_i
/.idea/dataSources/d1c8ea0a-7939-4eb6-934e-ca10eb835a98/entities/entities.dat.values.s
/.idea/dataSources/d1c8ea0a-7939-4eb6-934e-ca10eb835a98/entities/entities.dat.values.at
/.idea/dataSources/d1c8ea0a-7939-4eb6-934e-ca10eb835a98/entities/entities.dat.values
/.idea/dataSources/d1c8ea0a-7939-4eb6-934e-ca10eb835a98/entities/entities.dat.len
/.idea/dataSources/d1c8ea0a-7939-4eb6-934e-ca10eb835a98/entities/entities.dat
