/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/dataSources/d1c8ea0a-7939-4eb6-934e-ca10eb835a98.xml
.idea/dataSources/d1c8ea0a-7939-4eb6-934e-ca10eb835a98.xml
.idea/dataSources/d1c8ea0a-7939-4eb6-934e-ca10eb835a98.xml
